<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NSSupportsLiveActivities</key>
		<true />
		<key>UIAppFonts</key>
		<array>
			<string>Bungee-Regular.ttf</string>
			<string></string>
		</array>
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
			<string>processing</string>
			<string>fetch</string>
		</array>
		<key>NSLiveActivityOptions</key>
		<dict>
			<key>MaximumAlertCount</key>
			<integer>5</integer>
		</dict>
		<key>NSUserTrackingUsageDescription</key>
		<string>Bu uygulama daha iyi reklam deneyimi sunabilmek için takip izni talep ediyor.</string>
		<key>SKAdNetworkItems</key>
		<array>
			<dict>
				<key>SKAdNetworkIdentifier</key>
				<string>cstr6suwn9.skadnetwork</string>
			</dict>
		</array>
	</dict>
</plist>